.HeaderBar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #000000;
    border-radius: 0px 0px 25px 25px;
    color: white;
    position: absolute;
    z-index: 100;
    margin-top: 255px;
    max-width: 1920px;
}

.FontsPosition{
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 50px;
    padding: 0px 40px;
}
