.app-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  background: linear-gradient(180deg, rgba(190, 242, 185, 0.79) 0%, rgba(235, 236, 235, 0.5135) 100%);
  margin: 0 auto;
} 
